[remote "huangyingw"]
    url = git@github.com:huangyingw/vim-fugitive.git
    fetch = +refs/heads/*:refs/remotes/huangyingw/*
[remote "tpope"]
    url = git@github.com:tpope/vim-fugitive.git
    fetch = +refs/heads/*:refs/remotes/tpope/*
[push]
    remote = origin
    remote = huangyingw
[gsync]
    remote = tpope
    branch = master
