[remote "github"]
    url = git@github.com:huangyingw/vim-fugitive.git
    fetch = +refs/heads/*:refs/remotes/github/*
[remote "bitbucket"]
	url = git@bitbucket.org:huangyingw/vim-fugitive.git
    fetch = +refs/heads/*:refs/remotes/bitbucket/*
[remote "tpope"]
    url = git@github.com:tpope/vim-fugitive.git
    fetch = +refs/heads/*:refs/remotes/tpope/*
[push]
    remote = bitbucket
    remote = github
[gsync]
    remote = tpope
    branch = master
[commit]
    message = n
[branch "dev"]
    remote = bitbucket
    merge = refs/heads/dev
[branch "RunShell"]
    remote = bitbucket
    merge = refs/heads/RunShell
