[remote "github"]
    url = git@github.com:huangyingw/vim-fugitive.git
    fetch = +refs/heads/*:refs/remotes/github/*
[remote "tpope"]
    url = git@github.com:tpope/vim-fugitive.git
    fetch = +refs/heads/*:refs/remotes/tpope/*
[push]
    remote = origin
    remote = github
[gsync]
    remote = tpope/master
[commit]
    message = n
[branch "dev"]
    remote = origin
    merge = refs/heads/dev
[branch "RunShell"]
    remote = origin
    merge = refs/heads/RunShell
